html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif, Microsoft YaHei;
}

canvas {
    padding: 0px;
}

.debug-block {
    height: 30%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: none;
    position: absolute;
    bottom: 0px;
    z-index: 9999999;
    word-wrap: break-word;
}

#skipControl {
    width: 65px;
    height: 40px;
    margin: 5px;
    background: url(./images/skipVideo.png);
    background-size: 100%;
    position: absolute;
    top: 15px;
    right: 40px;
    cursor: default;
    display: none;
    z-index: 2000;
}

#revertLastStatus {
    margin: 5px;
    position: absolute;
    top: 0px;
    right: 75px;
    cursor: default;
    display: none;
    z-index: 2000;
}

#screenControlButton,
#VRmodeControlButton,
#angleControlButton {
    display: none;
}

.vrMode {
    position: fixed;
    bottom: 50%;
    z-index: 1005;
}

.panel {
    width: 100%;
    height: 100%;
}

#error-info {
    font-size: 20px;
    background: #000000;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    color: white;
}

#info-close {
    float: right;
    padding-right: 8%;
    padding-left: 8%;
    cursor: pointer;
}

.video-box {
    margin: 0 auto;
    z-index: 1000;
}

.head {
    font-size: 50px;
    text-align: center;
    color: #000000;
}

.close-video {
    position: fixed;
    top: 5px;
    right: 10px;
    font-size: 31px;
    font-weight: 400;
    color: #ffffff;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.preview-box {
    margin: 5px;
    border: 2px solid #FFFFFF;
    width: 20%;
}

.preview-box p {
    margin: 5px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
}

.preview-box img {
    cursor: pointer;
}

.img-box {
    height: 50px;
    width: 100%;
}

.image-responsive {
    max-height: 50px;
    width: 100%;
}

#vr-panel {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 999;
    cursor: -webkit-grab;
    border: none;
}

@media (min-width:1000px) {
    /*#testVideo {
        left: -100%;
    }*/
    .roam-control>img,
    .roam-choice>img {
        height: 50px;
    }
    .roam-desc {
        display: none;
    }
}

#loading-tips {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    display: none;
    z-index: 2001;
}

#loading-img {
    width: 61.8%;
    display: block;
    z-index: 2001;
    transition: transform 3600s;
}

#loading-img.rotate {
    transform: rotate(864000deg);
}

.center {
    position: fixed;
    left: 0px;
    top: 130px;
    width: 100%;
    display: flex;
    z-index: 2001;
    align-items: center;
    flex-direction: column;
}

#loading-text {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    z-index: 2001;
    color: #999;
}

.black-bg {
    background: #000000;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.free-roam-panel {
    width: 100%;
    display: none;
    cursor: pointer;
    z-index: 1001;
    overflow: hidden;
    background: #f5f5f5;
    flex: 1;
    opacity: 1;
    transition: opacity 500ms;
}

.panel-navigate-preview {
    opacity: 0;
}

.roam-select-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 38px;
    align-items: stretch;
}

#inwalk-scroll-list {
    overflow: auto;
    background: #f5f5f5;
    flex: 1;
}

.roam-go,
.roam-revert,
.roam-blink {
    height: 70px;
}

.roam-select-input-block {
    background: url('images/search_bg.png');
    background-size: 100% 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

#roam-select-input {
    color: #fff;
    margin: auto;
    width: 85%;
    border: 0px;
    line-height: 31px;
    text-align: left;
    font-size: 16px;
    padding-left: 15px;
    position: relative;
    display: block;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
}

#roam-select-input::placeholder {
    color: #fff;
}

#roam-select-input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
}

#roam-select-input::input:-moz-placeholder {
    color: #fff;
}

#roam-select-input::input::-moz-placeholder {
    color: #fff;
}

#roam-select-input::input:-ms-input-placeholder {
    color: #fff;
}

#search-section {
    width: 90%;
    height: 29px;
    padding: 0px;
    margin: auto;
    display: block;
    background: url(images/search_bar.png);
    background-size: 100% 100%;
}

#roam-select-search-icon {
    position: absolute;
    margin: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.free-roam-text {
    display: none;
    color: #d0d0d0;
    line-height: 25px;
}

.roam-select-item {
    color: #505050;
    font-size: 15px;
    min-width: 86px;
    height: 95px;
    width: 30%;
    z-index: 1;
    border: 2px solid rgba(255, 66, 86, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loading-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2000;
    background: #fff;
}

#loadingbg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2000;
    background: #fff;
}

.like-container {
    flex-wrap: wrap;
    top: 10%;
    position: absolute;
    display: none;
    width: 330px;
    left: 50%;
    margin-left: -185px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.79);
    background: rgba(223, 223, 233, 0.7);
    border-radius: 9px;
}

.like-text {
    text-align: center;
    font-size: 32px;
    display: flex;
    color: #fff;
    margin: 20px;
}

.like-image {
    display: block;
    width: 100px;
    height: 100px;
    display: flex;
    margin: 20px;
}

.like-description {
    display: block;
    width: 299px;
    display: flex;
    margin: 20px;
}

.roam-control {
    height: 120px;
    padding: 10px 0;
    background: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.trigger-image {
    width: 205px;
    position: absolute;
    left: 50%;
    margin-left: -102px;
    bottom: 200px;
    z-index: 0;
    display: none;
}

.special-icon {
    height: 50px;
    padding: 10px;
}

.group-bar {
    height: 45px;
    background-color: #fff;
    color: #505050;
    line-height: 45px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    border-bottom: 1px solid #f3f4f6;
}

.item-poster {
    height: auto;
    display: block;
    width: 71%;
    margin-top: 24px;
}

.item-poster-with-red-packet {
    margin-top: -9px;
}

.item-red-packet {
    width: 33px;
    height: 33px;
    align-self: flex-end;
}

.item-text {
    word-wrap: break-word;
    font-size: 12px;
    color: red;
    text-align: center;
    margin: 2px 5px;
}

#liveIntroductionVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    display: none;
    transform: translateX(-50%) translateY(-50%);
}

.roam-choice {
    width: 200px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 5px;
    padding-bottom: 20px;
    justify-content: space-between;
    margin: 0 auto;
}

.firstSecond {
    height: 57px;
    width: 100px;
}

.thrid {
    height: 57px;
    width: 70px;
}

.roam-desc {
    width: 200px;
    display: block;
    position: relative;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 25px;
    color: #fff;
    font-weight: bold;
}

#logo {
    z-index: 999;
    width: 100px;
    padding: 12.5px;
}

#front-like {
    height: 50px;
    padding: 10px;
}

.free-roam-switch,
.first-floor,
.third-floor {
    padding: 7.5px 10px;
    width: 40px;
    margin-top: 500px;
}

.leftTop-container,
.rightTop-container {
    position: absolute;
    top: 0px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.leftTop-container {
    left: 0px;
}

.rightTop-container {
    margin-top: 85px;
    right: 0px;
    flex-direction: column;
}

@keyframes rotating {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

#audio-icon,
#stopControlButton {
    width: 45px;
    padding: 5px;
    top: 50px;
    padding: 3px 10px;
    position: relative;
    cursor: pointer;
}

#stopControlButton,
#playPauseControlButton {
    z-index: 1001;
    display: none;
}

#frontLike,
#walkAway {
    height: 50px;
    padding: 10px;
}

#walkAway {
    display: none;
}

.away-container {
    bottom: 70px;
    position: absolute;
    z-index: 1001;
    width: 100%;
    display: none;
}

.main-walker-menu,
.choice-walker {
    height: 68px;
    background-color: rgba(255, 255, 255, 0.52);
    width: 100%;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.main-walker-menu {
    display: none;
    justify-content: space-around;
    align-items: center;
}

.wrap {
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 45px;
    position: relative;
}

.wrap>.line-frame {
    height: 40px;
    width: 40px;
    margin-right: 25px;
    border: 3px solid #398de3;
    border-radius: 5px;
}

.box {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 2px;
}

.box>.textBox {
    font-size: 12px;
    position: absolute;
    bottom: 3px;
    width: 40px;
    text-align: center;
    color: #fff;
    background-color: rgba(32, 32, 32, 0.7);
    /* -webkit-text-size-adjust: none; */
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.textBox>div {
    transform: scale(0.5)translateY(50%);
    width: 80px;
    max-height: 55px;
    display: block;
    text-align: center;
    overflow: hidden;
    position: absolute;
    background-color: rgba(32, 32, 32, 0.7);
    left: -20px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
}

.box>img {
    height: 100%;
    width: 100%;
}

.wrap {
    width: 330px;
    height: 46px;
}

.choice-walker {
    height: 72px;
    display: flex;
    align-items: center;
}

.choice-walker>.floor {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 245px;
    height: 55px;
}

.frame>.box>div {
    bottom: 21.5px;
}

.choice-walker>.floor>.frame {
    /* background: url('images/frame.png'); */
    /* background-repeat: no-repeat; */
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 55px;
}

.choice-walker>.floor>.box {
    height: 54px;
}

.choice-walker>.floor>.box>div {
    position: relative;
    background-color: rgba(32, 32, 32, 0.7);
    top: -24px;
    width: 22px;
    margin: 0 auto;
}

#touchTips {
    position: absolute;
    bottom: 80px;
    width: 130px;
    left: 50%;
    display: none;
    margin-left: -65px;
    z-index: 1001;
}

#materialBg {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    z-index: 1001;
    display: none;
    top: 0px;
    left: 0px;
}

#materialClose {
    position: absolute;
    z-index: 2001;
    top: 50%;
    margin-top: -25px;
    right: 0px;
    height: 50px;
    width: 50px;
    padding: 10px;
    display: none;
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}

.loading-text-1 {
    font-size: 18px;
    color: #666;
}

.loading-text-2 {
    font-size: 21px;
    color: #666;
    bottom: 45px;
    position: fixed;
    width: 100%;
}

.enter-choice {
    display: block;
    position: absolute;
    width: 150px;
}

#choice-1 {
    top: 109px;
}

#choice-2 {
    top: 123px;
}

#arrow,
#arrow_r {
    width: 15px;
    height: 25px
}

#arrow_r {
    transform: rotateZ(180deg)
}

.search-info-container {
    height: 100%;
    display: flex;
    background: #f5f5f5;
}

.search-bar-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 21%;
    min-width: 67px;
}

#coupon-tip {
    margin: 130px;
    color: red;
    display: none;
    font-size: 20px;
    max-width: 300px;
    margin-left: 100px;
}

#playPauseControlButton {
    display: none;
    z-index: 1001;
    position: absolute;
    bottom: 26px;
    width: 76px;
    left: 50%;
    margin-left: -38px;
}

#action-tip {
    margin: 130px;
    color: red;
    display: none;
    font-size: 20px;
    max-width: 300px;
    margin-left: 100px;
}

.operate {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 999;
    display: block;
}

.operate-icon {
    height: 60px;
    margin: 10px;
    display: none;
}

.snap-enter {
    float: right;
}

.snap-return {
    float: left;
}

#testCard {
    left: 90px;
    position: relative;
}

#rich-scan,
#community {
    width: 21px;
    height: 21px;
    padding: 10px;
}

.colLine {
    width: 1px;
    position: absolute;
    top: 0px;
    height: 100%;
    background: #f3f4f6;
}

.rowLine {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 1px;
    background: #f3f4f6;
}

.tagContainer {
    display: flex;
    /*width: 264px;*/
    flex-wrap: wrap;
    background: #fff;
}

.tagName {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 12px;
}

.search-operate-content {
    width: 79%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 264px;
}

@media (min-width:372px) {
    .search-operate-content {
        padding: 0 10px;
    }
}

.navigate-console {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 1000;
    background: transparent;
}

.navigate-console-open {
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.baby-block {
    width: 40px;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 999;
}

.baby {
    width: 64px;
    position: relative;
    left: 0px;
    z-index: 999;
}

.baby-content {
    width: 250%;
    position: relative;
    top: 20px;
    height: 60px;
    left: 0px;
    z-index: 999;
    display: none;
}

.baby-back {
    width: 100%;
    z-index: -1;
    position: fixed;
}

.baby-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: 80px;
    height: 244%;
    justify-content: space-between;
    color: #fffefe;
    transform: scale(0.9) translateX(-10%) translateY(-4%);
}

.baby-line {
    height: 1px;
    width: 55px;
    border-bottom: 1px solid #fffefe;
    padding-top: 5px;
    opacity: 0.7;
}

.baby-menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

#baby-content-head {
    position: fixed;
    height: 60px;
    width: 100%;
}

#baby-content-bottom {
    position: relative;
    height: 60px;
    width: 100%;
    top: 70px;
}

.red-packet-block {
    width: 54px;
    height: 90px;
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: 999;
    background: url(./images/red_packet_inactive.png) no-repeat center/cover;
    display: block;
}

.red-packet-block.available {
    background: url(./images/red_packet_active.png) no-repeat center/cover;
}

.red-packet-block.hide {
    display: none;
}

.red-packet-block.unknown {
    display: none;
}

.red-packet-info {
    position: absolute;
    top: 190px;
    width: 100%;
    overflow: visible;
    z-index: 999;
    display: block;
}

.red-packet-info.hide {
    display: none;
}

.red-packet-raven {
    width: 100%;
    height: auto;
    transform: translateX(100%);
}

.red-packet-raven.over {
    transform: translateX(-100%);
    transition: transform 4s linear;
}

.navigation-background {
    position: relative;
    height: 93px;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#navigate-console-header {
    height: 50px;
    transition: height 500ms;
}

#navigate-console-header.navigate-active {
    height: 93px;
}

#naviagtion-back {
    position: absolute;
    top: 17px;
    left: 8px;
    width: 22px;
    height: 17px;
}

#navigation-in-block,
#navigation-final-block,
.navigation-input-background {
    width: 68%;
    height: 29px;
}

#navigation-start {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 52px;
    height: 68px;
    margin: 12px;
}

#navigation-in-block {
    position: absolute;
    top: 12px;
    left: 45px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

#navigation-final-block {
    position: absolute;
    top: 52px;
    left: 45px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.navigation-input-background {
    position: fixed;
}

#navigation-in,
#navigation-final {
    position: fixed;
    margin-left: 11px;
    margin-right: 13.5px;
}

.navigation-text {
    display: block;
    position: relative;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    text-indent: 48px;
}

.navigation-operate-block {
    display: none;
}

.navigation-text::placeholder {
    color: #fff;
}

.navigation-text::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
}

.navigation-text::input:-moz-placeholder {
    color: #fff;
}

.navigation-text::input::-moz-placeholder {
    color: #fff;
}

.navigation-text::input:-ms-input-placeholder {
    color: #fff;
}

.roam-go,
.roam-blink {
    display: none;
}

.video-control {
    position: absolute;
    top: 25%;
    height: 110px;
    z-index: 0;
    width: 65px;
    left: 50%;
    margin-left: -32.5;
    display: none;
}

.video-choice {
    width: 65px;
    padding-bottom: 15px;
}

.beginnerGuider-show-ios {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 2001;
    display: block;
}

.beginnerGuider-show-android {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2001;
    display: block;
}