html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif, Microsoft YaHei;
}

#vr-panel {
    width: 100%;
    height: 100%;
}

.videoPlay {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    display: block;
    transform: translateX(-50%) translateY(-53%);
}

.videoPause {
    z-index: -1;
    display: none;
}